In [2]:
import pandas as pd

In [28]:
import requests
import json

url = "https://jsonplaceholder.typicode.com/users"
response = requests.get(url)
data = response.json()

# Save it locally
with open("users_data.json", "w", encoding="utf-8") as f:
    json.dump(data, f, indent=4)

In [29]:
df = pd.read_json("users_data.json")

In [31]:

# Flatten nested fields like address and company
df_normalized = pd.json_normalize(df.to_dict(orient="records"))

# Display first few rows
print(df_normalized.head())

   id              name   username                      email  \
0   1     Leanne Graham       Bret          Sincere@april.biz
1   2      Ervin Howell  Antonette          Shanna@melissa.tv
2   3  Clementine Bauch   Samantha         Nathan@yesenia.net
3   4  Patricia Lebsack   Karianne  Julianne.OConner@kory.org
4   5  Chelsey Dietrich     Kamren   Lucio_Hettinger@annie.ca

                   phone        website     address.street address.suite  \
0  1-770-736-8031 x56442  hildegard.org        Kulas Light      Apt. 556
1    010-692-6593 x09125  anastasia.net      Victor Plains     Suite 879
2         1-463-123-4447    ramiro.info  Douglas Extension     Suite 847
3      493-170-9623 x156       kale.biz        Hoeger Mall      Apt. 692
4          (254)954-1289   demarco.info       Skiles Walks     Suite 351

    address.city address.zipcode address.geo.lat address.geo.lng  \
0    Gwenborough      92998-3874        -37.3159         81.1496
1    Wisokyburgh      90566-7771        -43.9509        -34.4618
2  McKenziehaven      59590-4157        -68.6102        -47.0653
3    South Elvis      53919-4257         29.4572       -164.2990
4     Roscoeview           33263        -31.8129         62.5342

         company.name                       company.catchPhrase  \
0     Romaguera-Crona    Multi-layered client-server neural-net
1        Deckow-Crist            Proactive didactic contingency
2  Romaguera-Jacobson         Face to face bifurcated interface
3       Robel-Corkery  Multi-tiered zero tolerance productivity
4         Keebler LLC      User-centric fault-tolerant solution

                             company.bs
0           harness real-time e-markets
1      synergize scalable supply-chains
2       e-enable strategic applications
3  transition cutting-edge web services
4      revolutionize end-to-end systems

In [34]:
print(df_normalized.sample())

   id              name  username               email           phone  \
2   3  Clementine Bauch  Samantha  Nathan@yesenia.net  1-463-123-4447

       website     address.street address.suite   address.city  \
2  ramiro.info  Douglas Extension     Suite 847  McKenziehaven

  address.zipcode address.geo.lat address.geo.lng        company.name  \
2      59590-4157        -68.6102        -47.0653  Romaguera-Jacobson

                 company.catchPhrase                       company.bs
2  Face to face bifurcated interface  e-enable strategic applications

In [35]:
df_clean = df_normalized.rename(columns={
    'address.street': 'street',
    'address.suite': 'suite',
    'address.city': 'city',
    'address.zipcode': 'zipcode',
    'address.geo.lat': 'geo_lat',
    'address.geo.lng': 'geo_lng',
     'company.name': 'company_name',
    'company.catchPhrase': 'company_catch_phrase',
    'company.bs': 'company_bs'

})

In [41]:
print(df['address'][0])

{'street': 'Kulas Light', 'suite': 'Apt. 556', 'city': 'Gwenborough', 'zipcode': '92998-3874', 'geo': {'lat': '-37.3159', 'lng': '81.1496'}}

In [38]:
print(df.columns)

Index(['id', 'name', 'username', 'email', 'address', 'phone', 'website',
       'company'],
      dtype='object')

In [39]:
print(df.dtypes)

id           int64
name        object
username    object
email       object
address     object
phone       object
website     object
company     object
dtype: object

In [42]:
import re

# Remove non-numeric characters
df_normalized['phone'] = df_normalized['phone'].str.replace(r'[^0-9]', '', regex=True)

pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
df_normalized['valid_email'] = df_normalized['email'].str.match(pattern)

df_normalized['zip_only'] = df_normalized['address.zipcode'].str.extract(r'(\d+)')

df_normalized['name'] = df_normalized['name'].str.replace(r'[^A-Za-z\s]', '', regex=True)

In [ ]:
df_normalized[df_normalized.duplicated()]

In [45]:
df_normalized = df_normalized.drop_duplicates()

In [ ]:
# See how many nulls per column
print(df_normalized.isnull().sum())

In [ ]:
df_normalized[df_normalized.isnull().any(axis=1)]

In [48]:
print(df_normalized.dtypes)

id                      int64
name                   object
username               object
email                  object
phone                  object
website                object
address.street         object
address.suite          object
address.city           object
address.zipcode        object
address.geo.lat        object
address.geo.lng        object
company.name           object
company.catchPhrase    object
company.bs             object
valid_email              bool
zip_only               object
dtype: object

In [43]:
df.columns

Index(['id', 'name', 'username', 'email', 'address', 'phone', 'website',
       'company'],
      dtype='object')

In [50]:
import mysql.connector
from sqlalchemy import create_engine

# Connect to MySQL server (not a specific database)
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234"
)

mycursor = mydb.cursor()
user_data_db = "json_etl_db"
mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {user_data_db}")
print(f" Database '{user_data_db}' created or already exists.")

engine = create_engine(f"mysql+mysqlconnector://root:1234@localhost/{user_data_db}")

# Assuming df_normalized is your cleaned DataFrame
df_normalized.to_sql('users_data', con=engine, if_exists='replace', index=False)
print("Data successfully loaded into MySQL!")

 Database 'json_etl_db' created or already exists.
Data successfully loaded into MySQL!